body {
    /*background-color: #00a16c;*/
    background-image: url("src\\imagens\\FUNDOALTAREGER.jpg");
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    border: 0;
}

.sombra {
    /*background-image: url("src\\imagens\\SOMBRA.png");*/
}

.logo {
    max-width: 45%;  
    height: auto;  
}

.menu {
    /*display: inline;*/
}

.botao {
    display: inline;  
    padding: 15px;
}

.bola {
    max-width: 14%;  
    height: auto; 
}

.noHover{
    pointer-events: none;
}